Package: client-side-encryption
Version: 0.9
Depends: python2.7, python2.7-dev, python3 (>= 3.8.5) | python3.8, python3.8-dev, python3-pip, unzip, zip
# apt-get update; apt-get install -y python2.7 python2.7-dev python3.8 python3.8-dev python3-pip unzip zip
# update-alternatives --install /usr/bin/python python /usr/bin/python2.7 1
# update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.8 1
# update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.6 2
# update-alternatives --set python3 /usr/bin/python3.8
# wget https://github.com/bazelbuild/bazel/releases/download/3.7.1/bazel-3.7.1-installer-linux-x86_64.sh
# chmod +x bazel-3.7.1-installer-linux-x86_64.sh
# ./bazel-3.7.1-installer-linux-x86_64.sh
# git clone https://github.com/googlecloudplatform/client-side-encryption
# cd client-side-encryption
# pip3 install -r requirements.txt
Section: custom
Priority: optional
Architecture: amd64
Essential: no
Installed-Size: 184320
Maintainer: cloud.google.com
Description: Client Side Encryption wrappers for gsutil and GCS client libraries
